body{
    background-color: #2E7A8A;
}

#top-name{
    text-align: left;
    font-size: 25px;
}

#top-name span{
    font-size: 18px;
    line-height: 40px;
}

.content .description{
    font-size: 12px;
}

.container .segments{
    color: #000;
}

#favoritar{
    float: right;
}

.ui .card{
    height: 200px;
}